.SearchBar {
  /*display: flex;
  flex-direction: column;*/
  align-items: center;
  padding-top: 6.94rem;
  margin-bottom: 6.33rem;
  text-align: center;
}

.SearchBar input {
  width: 287px;
  padding: .88rem 0;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #010c3f;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto 2.22em auto;
  display: block;
}

.SearchBar input:focus {
  outline: none;

}

.SearchBar button {
  cursor: pointer;
  width: 8.11rem;
  padding: .77rem 0;
  border-radius: 54px;
  color: #ffffff;
  background-color: #010c3f;
  text-align: center;
  font-size: .833rem;
  transition: background-color .25s;
  display: inline
}

.SearchBar button.btnclear{
	margin: 0 0 0 15px;
	background-color: gray;
}

.SearchBar button:hover {
  background-color: rgba(108, 65, 233, .7);
}
